In [1]:
#Dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func

In [2]:
#read in data
permits_df = pd.read_csv("../data/original_data/sidewalk-cafe-permits.csv")
#drop duplicates but there are none
permits_df.drop_duplicates()
#Rename columns to what we want to be in SQL Database
permits_df = permits_df.rename(columns={"PERMIT NUMBER": "permit_number", "DOING BUSINESS AS NAME": "business_name", "ISSUED DATE": "issued_date", "EXPIRATION DATE": "expiration_date", "ADDRESS": "address", "LATITUDE": "latitude", "LONGITUDE": "longitude", "LOCATION": "location"})

In [3]:
#Changed Column names
permits_df.columns

Index(['permit_number', 'ACCOUNT NUMBER', 'SITE NUMBER', 'LEGAL NAME',
       'business_name', 'issued_date', 'expiration_date', 'PAYMENT DATE',
       'address', 'ADDRESS NUMBER START', 'ADDRESS NUMBER', 'STREET DIRECTION',
       'STREET', 'STREET TYPE', 'CITY', 'STATE', 'ZIP CODE', 'WARD',
       'PRECINCT', 'WARD PRECINCT', 'POLICE DISTRICT', 'latitude', 'longitude',
       'location', 'Community Areas', 'Zip Codes', 'Boundaries - ZIP Codes',
       'Census Tracts', 'Wards'],
      dtype='object')

In [4]:
# Make dataframe of only the columns we want to bring into SQL
import_permits_df = permits_df[["permit_number", "business_name", "issued_date", "expiration_date", "address", "latitude", "longitude"]]

In [5]:
#Find any null values
import_permits_df.isnull().values.any()
#drop the null values
import_permits_df = import_permits_df.dropna()

In [6]:
import_permits_df.head()
import_permits_df.dtypes

permit_number        int64
business_name       object
issued_date         object
expiration_date     object
address             object
latitude           float64
longitude          float64
dtype: object

In [7]:
#Read in second CSV file which contains data for 2020
current_permits = pd.read_csv("../data/original_data/current_permits.csv")
current_permits.head()
#Rename columns to bring into SQL
current_permits = current_permits.rename(columns={"PERMIT NUMBER": "permit_number", "DOING BUSINESS AS NAME": "business_name", "ISSUED DATE": "issued_date", "EXPIRATION DATE": "expiration_date", "ADDRESS": "address", "LATITUDE": "latitude", "LONGITUDE": "longitude", "LOCATION": "location"})

In [8]:
#Create import Dataframe with only columns we want to bring into SQL
import_current_permits_df = current_permits[["permit_number", "business_name", "issued_date", "expiration_date", "address", "latitude", "longitude"]]
import_current_permits_df

,permit_number,business_name,issued_date,expiration_date,address,latitude,longitude
0,1143796,TURTLES,02/27/2020,05/31/2021,238 W 33RD ST,41.834685,-87.633095
1,1143980,HOTEL EMC2,04/10/2020,05/31/2021,228 E ONTARIO ST,41.893483,-87.621931
2,1144014,PIAZZA BELLA OSTERIA,02/27/2020,05/31/2021,2114 W ROSCOE ST,41.943289,-87.681528
3,1143772,AU CHEVAL,03/04/2020,05/31/2021,800 W RANDOLPH ST,41.884515,-87.647497
4,1144011,SPACE519,05/22/2020,05/31/2021,200 E CHESTNUT ST,41.898530,-87.621777
...,...,...,...,...,...,...,...
1090,1148345,FRANKLIN ROOM,04/09/2021,02/28/2022,675 N FRANKLIN ST,41.894589,-87.635506
1091,1148368,Kraken Sushi & Beyond,04/13/2021,02/28/2022,4022 N WESTERN AVE,41.954759,-87.688635
1092,1148330,AVEC II,04/13/2021,02/28/2022,141 W ERIE ST,41.893900,-87.632732
1093,1148380,FONS EMPANADAS,04/13/2021,02/28/2022,2566 N CLARK ST,41.929403,-87.642899
1094,1148367,GRACIE O'MALLEY'S EDGEWATER,04/14/2021,02/28/2022,6334 N CLARK ST,41.997373,-87.670549

In [9]:
#find any null values 
import_current_permits_df.isnull().sum()
#drop the null values
import_current_permits_df = import_current_permits_df.dropna()

In [10]:
import_current_permits_df.head()

,permit_number,business_name,issued_date,expiration_date,address,latitude,longitude
0,1143796,TURTLES,02/27/2020,05/31/2021,238 W 33RD ST,41.834685,-87.633095
1,1143980,HOTEL EMC2,04/10/2020,05/31/2021,228 E ONTARIO ST,41.893483,-87.621931
2,1144014,PIAZZA BELLA OSTERIA,02/27/2020,05/31/2021,2114 W ROSCOE ST,41.943289,-87.681528
3,1143772,AU CHEVAL,03/04/2020,05/31/2021,800 W RANDOLPH ST,41.884515,-87.647497
4,1144011,SPACE519,05/22/2020,05/31/2021,200 E CHESTNUT ST,41.898530,-87.621777

In [11]:
dates_df = import_current_permits_df

In [12]:
# After creating the 2 tables in posgresql (sql) via pgAdmin 4:
# Connect to local database
# connection_string = "postgres:woodlands@localhost:5432/chicago_cafe_permits"
# engine = create_engine(f'postgresql://{connection_string}')
# # ensure table names appear
# engine.table_names()


# engine = create_engine("sqlite:///chicago_permits.sqlite")

In [13]:
# Load past_permits dataframe into sql database
# import_permits_df.to_sql(name='past_permits', con=engine, if_exists='append', index=False)

In [14]:
# Load current_permits dataframe into sql database
# import_current_permits_df.to_sql(name='current_permits', con=engine, if_exists='append', index=False)

In [15]:
import_current_permits_df
import_permits_df

,permit_number,business_name,issued_date,expiration_date,address,latitude,longitude
0,1142666,TINTO & TAPAS,2019-11-25T00:00:00.000,2020-02-29T00:00:00.000,7958 W BELMONT AVE,41.937859,-87.826255
1,1142290,Pie cafe,2019-10-15T00:00:00.000,2020-02-29T00:00:00.000,5357 N ASHLAND AVE,41.979717,-87.669565
2,1142132,KALIFLOWER,2019-09-20T00:00:00.000,2020-02-29T00:00:00.000,333 N MICHIGAN AVE,41.887543,-87.624407
3,1142101,SMALL CHEVAL,2019-09-20T00:00:00.000,2020-02-29T00:00:00.000,1732 N MILWAUKEE AVE,41.912730,-87.681327
4,1142100,THE WHALE CHICAGO,2019-09-19T00:00:00.000,2020-02-29T00:00:00.000,2427-2431 N MILWAUKEE AVE,41.925388,-87.701170
...,...,...,...,...,...,...,...
17993,1003612,THE REVEL ROOM,2001-08-01T00:00:00.000,2001-11-01T00:00:00.000,1566 N MILWAUKEE AVE,41.909880,-87.676914
17994,1002993,O'NEIL'S BAR & GRILL,2001-04-04T00:00:00.000,2001-11-01T00:00:00.000,152 E ONTARIO ST,41.893460,-87.623374
17995,1002652,CAFE MAURO,2001-05-07T00:00:00.000,2001-11-01T00:00:00.000,3633 W 26TH ST,41.844259,-87.715946
17996,1001307,Rick's Cafe-Casablanca,2001-06-18T00:00:00.000,2001-11-01T00:00:00.000,3915 N SHERIDAN RD,41.953158,-87.654359
17997,1000571,THE 5 BOROUGHS DELICATESSEN,2001-04-03T00:00:00.000,2001-11-01T00:00:00.000,738 N WELLS ST,41.895920,-87.634330

In [16]:
# Confirm data has been added by querying joined table
# pd.read_sql_query('''
# select * from current_permits as c
# union
# select * from past_permits as p;
# ''', con=engine)

In [17]:
#Create a dataframe that includes origin counts for a bar graph
Years_df_pivot = import_permits_df.groupby(["issued_date", "permit_number"])["issued_date"].agg("count").to_frame("issued_date_counts").reset_index()
Years_df_pivot
pd.to_datetime(Years_df_pivot["issued_date"]).dt.year

0        2001
1        2001
2        2001
3        2001
4        2001
         ...
17991    2019
17992    2019
17993    2019
17994    2019
17995    2019
Name: issued_date, Length: 17996, dtype: int64

In [18]:
Years_df_pivot["year"]=pd.to_datetime(Years_df_pivot["issued_date"]).dt.year
Years_df_pivot
Years_df_pivot.groupby("year")["issued_date"].count()

year
2001     482
2002     551
2003     637
2004     698
2005     721
2006     758
2007     823
2008     875
2009     919
2010     981
2011    1042
2012    1097
2013    1158
2014    1192
2015    1195
2016    1220
2017    1228
2018    1224
2019    1195
Name: issued_date, dtype: int64

In [19]:
current_permits_years = import_current_permits_df.groupby(["issued_date", "permit_number"])["issued_date"].agg("count").to_frame("issued_date_counts").reset_index()
pd.to_datetime(current_permits_years["issued_date"]).dt.year

0       2020
1       2021
2       2021
3       2020
4       2020
        ...
1089    2020
1090    2020
1091    2020
1092    2020
1093    2020
Name: issued_date, Length: 1094, dtype: int64

In [31]:
current_permits_years["year"]=pd.to_datetime(current_permits_years["issued_date"]).dt.year
current_permits_years = current_permits_years[['permit_number', 'year']]
current_permits_years

      permit_number  year
0           1143686  2020
1           1144991  2021
2           1145676  2021
3           1143664  2020
4           1143676  2020
...             ...   ...
1089        1145365  2020
1090        1145872  2020
1091        1145562  2020
1092        1144464  2020
1093        1144992  2020

[1094 rows x 2 columns]

In [21]:
# current_permits_years.groupby("year")["issued_date"].count()
import_current_permits_df

,permit_number,business_name,issued_date,expiration_date,address,latitude,longitude
0,1143796,TURTLES,02/27/2020,05/31/2021,238 W 33RD ST,41.834685,-87.633095
1,1143980,HOTEL EMC2,04/10/2020,05/31/2021,228 E ONTARIO ST,41.893483,-87.621931
2,1144014,PIAZZA BELLA OSTERIA,02/27/2020,05/31/2021,2114 W ROSCOE ST,41.943289,-87.681528
3,1143772,AU CHEVAL,03/04/2020,05/31/2021,800 W RANDOLPH ST,41.884515,-87.647497
4,1144011,SPACE519,05/22/2020,05/31/2021,200 E CHESTNUT ST,41.898530,-87.621777
...,...,...,...,...,...,...,...
1090,1148345,FRANKLIN ROOM,04/09/2021,02/28/2022,675 N FRANKLIN ST,41.894589,-87.635506
1091,1148368,Kraken Sushi & Beyond,04/13/2021,02/28/2022,4022 N WESTERN AVE,41.954759,-87.688635
1092,1148330,AVEC II,04/13/2021,02/28/2022,141 W ERIE ST,41.893900,-87.632732
1093,1148380,FONS EMPANADAS,04/13/2021,02/28/2022,2566 N CLARK ST,41.929403,-87.642899
1094,1148367,GRACIE O'MALLEY'S EDGEWATER,04/14/2021,02/28/2022,6334 N CLARK ST,41.997373,-87.670549

In [32]:
Import_current_permits_df = pd.merge(import_current_permits_df, current_permits_years, on='permit_number', how="inner")
Import_current_permits_df

,permit_number,business_name,issued_date,expiration_date,address,latitude,longitude,year
0,1143796,TURTLES,02/27/2020,05/31/2021,238 W 33RD ST,41.834685,-87.633095,2020
1,1143980,HOTEL EMC2,04/10/2020,05/31/2021,228 E ONTARIO ST,41.893483,-87.621931,2020
2,1144014,PIAZZA BELLA OSTERIA,02/27/2020,05/31/2021,2114 W ROSCOE ST,41.943289,-87.681528,2020
3,1143772,AU CHEVAL,03/04/2020,05/31/2021,800 W RANDOLPH ST,41.884515,-87.647497,2020
4,1144011,SPACE519,05/22/2020,05/31/2021,200 E CHESTNUT ST,41.898530,-87.621777,2020
...,...,...,...,...,...,...,...,...
1089,1148345,FRANKLIN ROOM,04/09/2021,02/28/2022,675 N FRANKLIN ST,41.894589,-87.635506,2021
1090,1148368,Kraken Sushi & Beyond,04/13/2021,02/28/2022,4022 N WESTERN AVE,41.954759,-87.688635,2021
1091,1148330,AVEC II,04/13/2021,02/28/2022,141 W ERIE ST,41.893900,-87.632732,2021
1092,1148380,FONS EMPANADAS,04/13/2021,02/28/2022,2566 N CLARK ST,41.929403,-87.642899,2021
1093,1148367,GRACIE O'MALLEY'S EDGEWATER,04/14/2021,02/28/2022,6334 N CLARK ST,41.997373,-87.670549,2021

In [23]:
Import_current_permits_df.dtypes

permit_number           int64
business_name          object
issued_date_x          object
expiration_date        object
address                object
latitude              float64
longitude             float64
issued_date_y          object
issued_date_counts      int64
dtype: object

In [24]:
# Begin process for past permits to bring years into the datafram as an integer of just year
past_permits_years = import_permits_df.groupby(["issued_date", "permit_number"])["issued_date"].agg("count").to_frame("issued_date_counts").reset_index()
pd.to_datetime(past_permits_years["issued_date"]).dt.year

0        2001
1        2001
2        2001
3        2001
4        2001
         ...
17991    2019
17992    2019
17993    2019
17994    2019
17995    2019
Name: issued_date, Length: 17996, dtype: int64

In [25]:
past_permits_years["year"]=pd.to_datetime(past_permits_years["issued_date"]).dt.year

In [26]:
past_permits_years = past_permits_years[['permit_number', 'year']]
past_permits_years

       permit_number  year
0            1007419  2001
1            1007416  2001
2            1007411  2001
3            1007406  2001
4            1007417  2001
...              ...   ...
17991        1138700  2019
17992        1140922  2019
17993        1141641  2019
17994        1140177  2019
17995        1142666  2019

[17996 rows x 2 columns]

In [27]:
Import_past_permits = pd.merge(import_permits_df, past_permits_years,on="permit_number", how="inner")

In [28]:
Import_past_permits.dtypes

permit_number        int64
business_name       object
issued_date         object
expiration_date     object
address             object
latitude           float64
longitude          float64
year                 int64
dtype: object

In [29]:
Import_past_permits
# Import_current_permits_df.isnull().values.any()

,permit_number,business_name,issued_date,expiration_date,address,latitude,longitude,year
0,1142666,TINTO & TAPAS,2019-11-25T00:00:00.000,2020-02-29T00:00:00.000,7958 W BELMONT AVE,41.937859,-87.826255,2019
1,1142290,Pie cafe,2019-10-15T00:00:00.000,2020-02-29T00:00:00.000,5357 N ASHLAND AVE,41.979717,-87.669565,2019
2,1142132,KALIFLOWER,2019-09-20T00:00:00.000,2020-02-29T00:00:00.000,333 N MICHIGAN AVE,41.887543,-87.624407,2019
3,1142101,SMALL CHEVAL,2019-09-20T00:00:00.000,2020-02-29T00:00:00.000,1732 N MILWAUKEE AVE,41.912730,-87.681327,2019
4,1142100,THE WHALE CHICAGO,2019-09-19T00:00:00.000,2020-02-29T00:00:00.000,2427-2431 N MILWAUKEE AVE,41.925388,-87.701170,2019
...,...,...,...,...,...,...,...,...
17991,1003612,THE REVEL ROOM,2001-08-01T00:00:00.000,2001-11-01T00:00:00.000,1566 N MILWAUKEE AVE,41.909880,-87.676914,2001
17992,1002993,O'NEIL'S BAR & GRILL,2001-04-04T00:00:00.000,2001-11-01T00:00:00.000,152 E ONTARIO ST,41.893460,-87.623374,2001
17993,1002652,CAFE MAURO,2001-05-07T00:00:00.000,2001-11-01T00:00:00.000,3633 W 26TH ST,41.844259,-87.715946,2001
17994,1001307,Rick's Cafe-Casablanca,2001-06-18T00:00:00.000,2001-11-01T00:00:00.000,3915 N SHERIDAN RD,41.953158,-87.654359,2001
17995,1000571,THE 5 BOROUGHS DELICATESSEN,2001-04-03T00:00:00.000,2001-11-01T00:00:00.000,738 N WELLS ST,41.895920,-87.634330,2001

In [33]:
# After creating the 2 tables in posgresql (sql) via pgAdmin 4:
# Connect to local database
connection_string = "postgres:cwalsh11!@localhost:5432/chicago_cafe_permits"
engine = create_engine(f'postgresql://{connection_string}')
# ensure table names appear
engine.table_names()


# engine = create_engine("sqlite:///chicago_permits.sqlite")

['past_permits', 'current_permits']

In [ ]:
# Load past_permits dataframe into sql database
Import_past_permits.to_sql(name='past_permits', con=engine, if_exists='append', index=False)

In [34]:
# Load current_permits dataframe into sql database
Import_current_permits_df.to_sql(name='current_permits', con=engine, if_exists='append', index=False)

In [35]:
# Confirm data has been added by querying table
pd.read_sql_query('''
select * from current_permits as c
''', con=engine)

,permit_number,business_name,issued_date,expiration_date,address,latitude,longitude,year
0,1143796,TURTLES,2020-02-27,2021-05-31,238 W 33RD ST,41.834685,-87.633095,2020
1,1143980,HOTEL EMC2,2020-04-10,2021-05-31,228 E ONTARIO ST,41.893483,-87.621931,2020
2,1144014,PIAZZA BELLA OSTERIA,2020-02-27,2021-05-31,2114 W ROSCOE ST,41.943289,-87.681528,2020
3,1143772,AU CHEVAL,2020-03-04,2021-05-31,800 W RANDOLPH ST,41.884515,-87.647497,2020
4,1144011,SPACE519,2020-05-22,2021-05-31,200 E CHESTNUT ST,41.898530,-87.621777,2020
...,...,...,...,...,...,...,...,...
1089,1148345,FRANKLIN ROOM,2021-04-09,2022-02-28,675 N FRANKLIN ST,41.894589,-87.635506,2021
1090,1148368,Kraken Sushi & Beyond,2021-04-13,2022-02-28,4022 N WESTERN AVE,41.954759,-87.688635,2021
1091,1148330,AVEC II,2021-04-13,2022-02-28,141 W ERIE ST,41.893900,-87.632732,2021
1092,1148380,FONS EMPANADAS,2021-04-13,2022-02-28,2566 N CLARK ST,41.929403,-87.642899,2021
1093,1148367,GRACIE O'MALLEY'S EDGEWATER,2021-04-14,2022-02-28,6334 N CLARK ST,41.997373,-87.670549,2021

In [36]:
# Confirm data has been added by querying table
pd.read_sql_query('''
select * from past_permits as p
''', con=engine)

,permit_number,business_name,issued_date,expiration_date,address,latitude,longitude,year
0,1142666,TINTO & TAPAS,2019-11-25,2020-02-29,7958 W BELMONT AVE,41.937859,-87.826255,2019
1,1142290,Pie cafe,2019-10-15,2020-02-29,5357 N ASHLAND AVE,41.979717,-87.669565,2019
2,1142132,KALIFLOWER,2019-09-20,2020-02-29,333 N MICHIGAN AVE,41.887543,-87.624407,2019
3,1142101,SMALL CHEVAL,2019-09-20,2020-02-29,1732 N MILWAUKEE AVE,41.912730,-87.681327,2019
4,1142100,THE WHALE CHICAGO,2019-09-19,2020-02-29,2427-2431 N MILWAUKEE AVE,41.925388,-87.701170,2019
...,...,...,...,...,...,...,...,...
17991,1003612,THE REVEL ROOM,2001-08-01,2001-11-01,1566 N MILWAUKEE AVE,41.909880,-87.676914,2001
17992,1002993,O'NEIL'S BAR & GRILL,2001-04-04,2001-11-01,152 E ONTARIO ST,41.893460,-87.623374,2001
17993,1002652,CAFE MAURO,2001-05-07,2001-11-01,3633 W 26TH ST,41.844259,-87.715946,2001
17994,1001307,Rick's Cafe-Casablanca,2001-06-18,2001-11-01,3915 N SHERIDAN RD,41.953158,-87.654359,2001
17995,1000571,THE 5 BOROUGHS DELICATESSEN,2001-04-03,2001-11-01,738 N WELLS ST,41.895920,-87.634330,2001