In [1]:
#Dependencies
import pandas as pd

In [15]:
#read in data
permits_df = pd.read_csv("../data/sidewalk-cafe-permits.csv")
#drop duplicates but there are none
permits_df.drop_duplicates()
permits_df = permits_df.rename(columns={"PERMIT NUMBER": "permit_number", "DOING BUSINESS AS NAME": "business_name", "ISSUED DATE": "issued_date", "EXPIRATION DATE": "expiration_date", "ADDRESS": "address", "LATITUDE": "latitude", "LONGITUDE": "longitude", "LOCATION": "location"})
permits_df

,permit_number,ACCOUNT NUMBER,SITE NUMBER,LEGAL NAME,business_name,issued_date,expiration_date,PAYMENT DATE,address,ADDRESS NUMBER START,...,WARD PRECINCT,POLICE DISTRICT,latitude,longitude,location,Community Areas,Zip Codes,Boundaries - ZIP Codes,Census Tracts,Wards
0,1142666,458934,1,"TINTO & TAPAS, LLC",TINTO & TAPAS,2019-11-25T00:00:00.000,2020-02-29T00:00:00.000,2019-10-29T00:00:00.000,7958 W BELMONT AVE,7958,...,38-30,16.0,41.937859,-87.826255,"{'latitude': '41.937859427847215', 'human_addr...",17.0,22254.0,52.0,457.0,19.0
1,1142290,294900,4,"PIE CAFE, LLC",Pie cafe,2019-10-15T00:00:00.000,2020-02-29T00:00:00.000,2019-10-15T00:00:00.000,5357 N ASHLAND AVE,5357,...,40-26,20.0,41.979717,-87.669565,"{'latitude': '41.979717096739535', 'human_addr...",76.0,22616.0,15.0,564.0,24.0
2,1142132,459163,1,KALIFLOWER 333 NORTH MICHIGAN AVE LLC,KALIFLOWER,2019-09-20T00:00:00.000,2020-02-29T00:00:00.000,2019-09-20T00:00:00.000,333 N MICHIGAN AVE,333,...,42-40,1.0,41.887543,-87.624407,"{'latitude': '41.88754294139151', 'human_addre...",38.0,14309.0,42.0,580.0,36.0
3,1142101,384478,1,1732 N MILWAUKEE RESTAURANT LLC,SMALL CHEVAL,2019-09-20T00:00:00.000,2020-02-29T00:00:00.000,2019-09-20T00:00:00.000,1732 N MILWAUKEE AVE,1732,...,32-6,14.0,41.912730,-87.681327,"{'latitude': '41.91273041812944', 'human_addre...",25.0,22535.0,1.0,298.0,40.0
4,1142100,456144,1,"THE WHALE CHICAGO, LLC",THE WHALE CHICAGO,2019-09-19T00:00:00.000,2020-02-29T00:00:00.000,2019-09-19T00:00:00.000,2427-2431 N MILWAUKEE AVE,2427,...,1-19,14.0,41.925388,-87.701170,"{'latitude': '41.92538801822599', 'human_addre...",23.0,22535.0,1.0,548.0,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17993,1003612,204664,1,"A PITZALLA BLUES, INC.",THE REVEL ROOM,2001-08-01T00:00:00.000,2001-11-01T00:00:00.000,2001-08-01T00:00:00.000,1566 N MILWAUKEE AVE,1566,...,1-8,14.0,41.909880,-87.676914,"{'latitude': '41.90987981937775', 'human_addre...",25.0,21560.0,4.0,481.0,41.0
17994,1002993,51,1,152 E. ONTARIO CORP.,O'NEIL'S BAR & GRILL,2001-04-04T00:00:00.000,2001-11-01T00:00:00.000,2001-04-04T00:00:00.000,152 E ONTARIO ST,152,...,42-53,18.0,41.893460,-87.623374,"{'latitude': '41.89345958880933', 'human_addre...",37.0,21182.0,6.0,158.0,36.0
17995,1002652,203574,1,cafe mauro inc,CAFE MAURO,2001-05-07T00:00:00.000,2001-11-01T00:00:00.000,2001-05-07T00:00:00.000,3633 W 26TH ST,3633,...,22-28,10.0,41.844259,-87.715946,"{'latitude': '41.84425865447129', 'human_addre...",32.0,21569.0,57.0,227.0,28.0
17996,1001307,202156,1,Rick's Cafe-Casablanca,Rick's Cafe-Casablanca,2001-06-18T00:00:00.000,2001-11-01T00:00:00.000,2001-06-18T00:00:00.000,3915 N SHERIDAN RD,3915,...,46-18,19.0,41.953158,-87.654359,"{'latitude': '41.953157536576526', 'human_addr...",57.0,21186.0,53.0,83.0,39.0
17997,1000571,201243,1,THE 5 BOROUGHSDELI LLC,THE 5 BOROUGHS DELICATESSEN,2001-04-03T00:00:00.000,2001-11-01T00:00:00.000,2001-10-18T00:00:00.000,738 N WELLS ST,738,...,42-68,18.0,41.895920,-87.634330,"{'latitude': '41.89592016641943', 'human_addre...",37.0,4446.0,55.0,652.0,36.0

In [17]:
permits_df.columns

Index(['permit_number', 'ACCOUNT NUMBER', 'SITE NUMBER', 'LEGAL NAME',
       'business_name', 'issued_date', 'expiration_date', 'PAYMENT DATE',
       'address', 'ADDRESS NUMBER START', 'ADDRESS NUMBER', 'STREET DIRECTION',
       'STREET', 'STREET TYPE', 'CITY', 'STATE', 'ZIP CODE', 'WARD',
       'PRECINCT', 'WARD PRECINCT', 'POLICE DISTRICT', 'latitude', 'longitude',
       'location', 'Community Areas', 'Zip Codes', 'Boundaries - ZIP Codes',
       'Census Tracts', 'Wards'],
      dtype='object')

In [22]:
# permits_df.sort_values("ISSUED DATE", ascending=True).head(5)
import_permits_df = permits_df[["permit_number", "business_name", "issued_date", "expiration_date", "address", "latitude", "longitude", "location"]]
import_permits_df
import_permits_df.to_csv("past_permits_for_import.csv")

In [25]:
current_permits = pd.read_csv("../data/current_permits.csv")
current_permits.head()
current_permits = current_permits.rename(columns={"PERMIT NUMBER": "permit_number", "DOING BUSINESS AS NAME": "business_name", "ISSUED DATE": "issued_date", "EXPIRATION DATE": "expiration_date", "ADDRESS": "address", "LATITUDE": "latitude", "LONGITUDE": "longitude", "LOCATION": "location"})

In [27]:
import_current_permits_df = current_permits[["permit_number", "business_name", "issued_date", "expiration_date", "address", "latitude", "longitude", "location"]]
import_current_permits_df
import_current_permits_df.to_csv("current_permits_for_import.csv")